---
import "../css/style.css";
import Header from "../components/Header.astro";
import HeaderPhone from "../components/HeaderPhone.astro";
import PhoneNav from "../components/PhoneNav.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- favicon -->
    <link href="favicon-light.png" rel="icon" media="(prefers-color-scheme: light)"/>
    <link href="favicon-dark.png" rel="icon" media="(prefers-color-scheme: dark)"/>
    <!-- iconify -->
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <!-- poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Iftekhar • Portfolio</title>
</head>
<body class="font-[poppins] bg-dark1 text-light1 h-[100svh] w-[100svw] overflow-hidden p-3">
    <div class="body-container flex-grow h-full">
        <div class="body-wrapper flex gap-3 h-full">
            
			
			<!-- ------------------------------------------------------------------------------------ -->
			<!-- header-phone -->

			<div class="nav-left-phone flex md:hidden z-30 flex-grow-0 flex-col justify-center h-[100svh] bg-dark1 rounded-lg w-[100svw]">
				<div class="nav-phone-top-container z-40 p- p-35 flex justify-between items-center gap-3 absolute top-0 w-full">
					<div class="flex gap-3 items-center">
						<a href="/"><img class="w-12 h-12 rounded-full" src="logo.png" alt=""></a>
						<a href="/"><div class="title title-lg font-semibold">Portfolio</div></a>
					</div>
					<button class="close-nav text-5xl relative -top-2"><iconify-icon icon="material-symbols:left-panel-close" class="text-xl"></iconify-icon></button>
				</div>
				<div class="nav-bottom-container p-5 w-full absolute bottom-0 left-0">
					<div class="links-phone flex flex-col gap-3 mb-5">
                        <div class="flex gap-3">
                            <div class="w-full"></div>
							<a href="/" class="nav-item flex flex-col gap-3 justify-center items-center w-full aspect-square rounded-lg text-light2 hover:text-light1 bg-dark2 hover:bg-dark1 transition">
								<iconify-icon icon="fa:home" class="text-3xl"></iconify-icon>Home
							</a>
							<a href="/projects" class="nav-item flex flex-col gap-3 justify-center items-center w-full aspect-square rounded-lg text-light2 hover:text-light1 bg-dark2 hover:bg-dark1 transition">
								<iconify-icon icon="fa-solid:tools" class="text-3xl"></iconify-icon>Projects
							</a>
						</div>
					</div>
					<div class="flex items-center gap-3">
						<img class="w-12 h-12 rounded-full" src="pp3.jpg" alt="">
						<div class="name-email-container flex flex-col gap-1">
							<div class="name text-sm font-semibold">Md. Iftekhar Hossain</div>
							<a class=" text-xs text-light2 hover:text-light1 transition" href="mailto:iftekharhossain16@gmail.com">iftekharhossain16@gmail.com</a>
						</div>
					</div>
				</div>
			</div>
			
			<style>
				.nav-left-phone{
					position: absolute;
					top: 0;
					left: -100%;
					transition: left 0.5s cubic-bezier(0,0,0,.96);
				}
			</style>
			
			<script>
				var navPhone = document.querySelector(".nav-left-phone");
				var showNav = document.querySelector(".show-nav");
				var closeNav = document.querySelector(".close-nav");
				showNav.addEventListener("click", ()=>{
					navPhone.style.left = "0";
				})
				closeNav.addEventListener("click", ()=>{
					navPhone.style.left = "-100%";
				})
			</script>


            <!-- ------------------------------------------------------------------------------------ -->
			<!-- header-phone -->

			<div class="nav-left flex-grow-0 hidden md:flex flex-col justify-between bg-dark1 rounded-lg w-[250px]">
				<div class="nav-top-container p-3">
					<div class="flex gap-5 items-center">
						<a href="/"><img class="w-10 h-10 rounded-full" src="logo.png" alt=""></a>
						<a href="/"><div class="title title-lg font-semibold">Portfolio</div></a>
					</div>
				</div>
				<div class="nav-middle-container flex flex-col gap-3">
					<a href="/" class="nav-item flex items-center px-5 py-3 rounded-lg bg-dark2"><iconify-icon icon="fa:home" class="text-xl mr-5"></iconify-icon>Home</a>
					<a href="/projects" class="nav-item flex items-center px-5 py-3 rounded-lg text-light2 hover:text-light1 bg-dark1 hover:bg-dark2 transition"><iconify-icon icon="fa-solid:tools" class="text-xl mr-5"></iconify-icon>Projects</a>
				</div>
				<div class="nav-bottom-container flex items-center gap-3">
					<img class="w-12 h-12 rounded-full" src="pp3.jpg" alt="">
					<div class="name-email-container flex flex-col gap-1">
						<div class="name text-sm font-semibold">Md. Iftekhar Hossain</div>
						<a class="text-xs text-light2 hover:text-light1 transition" href="mailto:iftekharhossain16@gmail.com">iftekharhossain16@gmail.com</a>
					</div>
				</div>
			</div>



			
            
            <div class="content-right flex-grow h-full bg-dark2 rounded-lg px-5 pb-3 overflow-scroll">
				
				<PhoneNav/>


				

				<div class="wrapper max-w-[800px] mx-auto pt-10">



					<div class="hero-container mb-10">
						<img class="w-72 h-72 rounded-full mb-5" src="pp3.jpg" alt="">
						<div class="name text-5xl font-bold mb-1">Md. Iftekhar Hossain</div>
						<div class="name text-xl text-light2">Software Engineer with a designer's mind</div>
					</div>

		
					
					<div class="title text-3xl font-semibold mb-5">About Me</div>
					<div class="about-text leading-normal mb-10">I am a skilled and versatile web developer with proficiency in both front-end and back-end development, UI/UX design and 3D modeling while also having a strong background in project management and machine learning. I am confident in my ability to manage and create interactive and engaging websites, applications, designs. I am currently looking for an entry level position to enhance my skills and expand my network. I am fluent in English and Bengali and have experience in competitive programming.</div>


					
					
					
					<div class="title text-3xl font-semibold mb-5">Skills</div>
					<div class="title text-xs text-light2 mb-3">Programming Languages</div>
					<div class="skills-container grid grid-cols-3 gap-5 mb-7">
						<div class="skill flex items-center gap-3">
							<iconify-icon class="text-3xl p-2 aspect-square rounded-full bg-light1 text-dark2" icon="bxl:javascript"></iconify-icon>
							JavaScript
						</div>
						<div class="skill flex items-center gap-3">
							<iconify-icon class="text-3xl p-2 aspect-square rounded-full bg-light1 text-dark2" icon="la:python"></iconify-icon>
							Python
						</div>
						<div class="skill flex items-center gap-3">
							<iconify-icon class="text-3xl p-2 aspect-square rounded-full bg-light1 text-dark2" icon="mdi:language-cpp"></iconify-icon>
							C++
						</div>
					</div>
		
					<div class="title text-xs text-light2 mb-3">Frameworks & Libraries</div>
					<div class="skills-container grid grid-cols-3 gap-5 mb-7">
						<div class="skill flex items-center gap-3">
							<iconify-icon class="text-3xl p-2 aspect-square rounded-full bg-light1 text-dark2" icon="bxl:django"></iconify-icon>
							Django
						</div>
						<div class="skill flex items-center gap-3">
							<iconify-icon class="text-3xl p-2 aspect-square rounded-full bg-light1 text-dark2" icon="devicon-plain:astro"></iconify-icon>
							Astro
						</div>
						<div class="skill flex items-center gap-3">
							<iconify-icon class="text-3xl p-2 aspect-square rounded-full bg-light1 text-dark2" icon="teenyicons:react-outline"></iconify-icon>
							React
						</div>
						<div class="skill flex items-center gap-3">
							<iconify-icon class="text-3xl p-2 aspect-square rounded-full bg-light1 text-dark2" icon="simple-icons:tailwindcss"></iconify-icon>
							TailwindCSS
						</div>
					</div>
		
		
					<div class="title text-xs text-light2 mb-3">Databases</div>
					<div class="skills-container grid grid-cols-3 gap-5 mb-7">
						<div class="skill flex items-center gap-3">
							<iconify-icon class="text-3xl p-2 aspect-square rounded-full bg-light1 text-dark2" icon="bxl:postgresql"></iconify-icon>
							PostgreSQL
						</div>
						<div class="skill flex items-center gap-3">
							<iconify-icon class="text-3xl p-2 aspect-square rounded-full bg-light1 text-dark2" icon="fontisto:mysql"></iconify-icon>
							MySQL
						</div>
					</div>
		
		
					<div class="title text-xs text-light2 mb-3">Design</div>
					<div class="skills-container grid grid-cols-3 gap-5 mb-7">
						<div class="skill flex items-center gap-3">
							<iconify-icon class="text-3xl p-2 aspect-square rounded-full bg-light1 text-dark2" icon="solar:figma-bold"></iconify-icon>
							Figma
						</div>
						<div class="skill flex items-center gap-3">
							<iconify-icon class="text-3xl p-2 aspect-square rounded-full bg-light1 text-dark2" icon="bxl:blender"></iconify-icon>
							Blender
						</div>
					</div>
					
					
					
					<div class="title text-xs text-light2 mb-3">Tools</div>
					<div class="skills-container grid grid-cols-3 gap-5 mb-10">
						<div class="skill flex items-center gap-3">
							<iconify-icon class="text-3xl p-2 aspect-square rounded-full bg-light1 text-dark2" icon="bi:git"></iconify-icon>
							Git
						</div>
						<div class="skill flex items-center gap-3">
							<iconify-icon class="text-3xl p-2 aspect-square rounded-full bg-light1 text-dark2" icon="codicon:vscode"></iconify-icon>
							VSCode
						</div>
					</div>
		
		


					<div class="title text-3xl font-semibold mb-5">Links</div>
					<div class="info-container text-sm flex flex-col gap-5 mb-10">
						<!-- <div class="info flex items-center gap-3">
							<iconify-icon class="text-xl" icon="fluent:call-28-filled"></iconify-icon>
							+8801751985620
						</div> -->
						<!-- <div class="info flex items-center gap-3">
							<iconify-icon class="text-xl" icon="fluent:calendar-24-filled"></iconify-icon>
							31-12-2002
						</div> -->
						<!-- <div class="info flex items-center gap-3">
							<iconify-icon class="text-xl" icon="icon-park-solid:people"></iconify-icon>
							Male
						</div> -->
						<!-- <div class="info flex items-center gap-3">
							<iconify-icon class="text-xl" icon="bi:flag-fill"></iconify-icon>
							Bangladeshi
						</div> -->
						<!-- <div class="info flex items-center gap-3">
							<iconify-icon class="text-xl" icon="fluent:location-48-filled"></iconify-icon>
							26 West Dolairpar, Dhaka 1204
						</div> -->
						<!-- <div class="info flex items-center gap-3">
							<iconify-icon class="text-xl" icon="streamline:star-2-solid"></iconify-icon>
							portfolio-iftekhar.vercel.app
						</div> -->
						<a target="_blank" href="mailto:iftekharhossain16@gmail.com" class="info flex items-center gap-3 underline">
							<iconify-icon class="text-xl" icon="ic:round-email"></iconify-icon>
							iftekharhossain16@gmail.com
						</a>
						<a target="_blank" href="github.com/Iftekhar16" class="info flex items-center gap-3 underline">
							<iconify-icon class="text-xl" icon="mdi:github"></iconify-icon>
							github.com/Iftekhar16
						</a>
						<a target="_blank" href="linkedin.com/in/iftekhar-hossain-b225082a1" class="info flex items-center gap-3 underline">
							<iconify-icon class="text-xl" icon="mdi:linkedin"></iconify-icon>
							linkedin.com/in/iftekhar-hossain-b225082a1
						</a>
						<!-- <div class="info flex items-center gap-3">
							<img class="w-5 beecrowd" src="beecrowd1.png" alt="">
							beecrowd.com.br/judge/en/profile/422299
						</div> -->
					</div>
		

		
				</div>
			</div>

            
        </div>
    </div>
</body>
</html>

